/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: rgba(52, 50, 50, 0.8);
  backdrop-filter: blur(10px); /* Glass effect */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.nav-logo理论 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}



/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover, 
.nav-links a.active {
  color: #ffffff;
}

/* CTA Button */
.btn-primary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease, background 0.3s ease;
}

.btn-primary:hover {
  background-color: #f7f7f7;
  transform: translateY(-2px);
}